<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <!-- Travel Bird Section Start -->
    <section class="t-bird-section">
      <div class="container">
        <div class="t-bird-content text-center">
          <h2 class="t-bird-style">Where Would Like to Go</h2>
          <h2 class="t-bird-title">
            Travel Like A free Bird & Enjoy your life
          </h2>
          <div class="input-group t-bird-input text-center">
            <a href="" class="input-group-text btn t-bird-btn" id="basic-addon2"
              >Signup</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Travel Bird Section End -->
  </body>
</html>
