<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
  </head>

  <body>
    <!-- Introduction One Section Start -->
    <section class="i-one-section">
      <div class="container">
        <div class="i-one-content">
          <div class="row">
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div class="i-one-details">
                <h2 class="i-one-title">We Provide Best Services</h2>
                <h6 class="i-one-subtitle">
                  Amazing Places To Enjony Your Travel
                </h6>
                <p class="i-one-discription">
                  Aliquam erat volutpat. Curabitur tempor nibh quis arcu
                  convallis, sed viverra quam sollicitudin. Proin sed augue sed
                  neque ultricies condimentum. In ac ultrices lectus. Nullam ex
                  elit, vestibulum ut urna non, tincidunt condimentum sem. Sed
                  enim tortor, accumsan at consequat et, tempus sit ame
                </p>
                <a href="#" class="btn i-one-btn">READ MORE</a>
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div class="i-one-img">
                <div class="i-one-img-one i-one-place">
                  <img
                    src="images/introduction.jpg"
                    loading="lazy"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="i-one-img-two i-one-place">
                  <img
                    src="images/introduction_1.jpg"
                    loading="lazy"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Introduction One Section End -->
  </body>
</html>
