<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="blog">
      <div class="container">
        <div class="banner-heading">
          <h2>Our Blog</h2>
          <div class="col-md-12">
            <div class="tour-blog-slider owl-carousel">
              <div class="content-div text-center">
                <div class="blog-inner">
                  <div class="blog-img">
                    <img class="img-responsive" src="images/blog1.jpg" alt="" />
                    <div class="img-border"></div>
                  </div>
                  <div class="blog-text">
                    <p class="blog-heading">Lorem ipsum dolor sit</p>
                    <p class="blog-textual-cont">
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a class="read-more" href="single-post.html">Read More</a>
                  </div>
                </div>
              </div>

              <div class="content-div text-center">
                <div class="blog-inner">
                  <div class="blog-img">
                    <img class="img-responsive" src="images/blog2.jpg" alt="" />
                    <div class="img-border"></div>
                  </div>
                  <div class="blog-text">
                    <p class="blog-heading">Lorem ipsum dolor sit</p>
                    <p class="blog-textual-cont">
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a class="read-more" href="single-post.html">Read More</a>
                  </div>
                </div>
              </div>

              <div class="content-div text-center">
                <div class="blog-inner">
                  <div class="blog-img">
                    <img class="img-responsive" src="images/blog3.jpg" alt="" />
                    <div class="img-border"></div>
                  </div>
                  <div class="blog-text">
                    <p class="blog-heading">Lorem ipsum dolor sit</p>
                    <p class="blog-textual-cont">
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a class="read-more" href="single-post.html">Read More</a>
                  </div>
                </div>
              </div>

              <div class="content-div text-center">
                <div class="blog-inner">
                  <div class="blog-img">
                    <img class="img-responsive" src="images/blog2.jpg" alt="" />
                    <div class="img-border"></div>
                  </div>
                  <div class="blog-text">
                    <p class="blog-heading">Lorem ipsum dolor sit</p>
                    <p class="blog-textual-cont">
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a class="read-more" href="single-post.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
