<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Footer Start -->
    <footer class="it-footer">
      <div class="it-footer-top">
        <div class="container">
          <div class="it-footer-top-content">
            <ul class="it-payment-list">
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-brands fa-cc-amex"></i>
                </a>
              </li>
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-brands fa-cc-visa"></i>
                </a>
              </li>
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-solid fa-credit-card"></i>
                </a>
              </li>
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-brands fa-cc-mastercard"></i>
                </a>
              </li>
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-brands fa-cc-paypal"></i>
                </a>
              </li>
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-brands fa-cc-discover"></i>
                </a>
              </li>
              <li class="it-payment-item">
                <a href="#" class="it-payment-link">
                  <i class="fa-brands fa-google-wallet"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="it-footer-main">
        <div class="container">
          <div class="row">
            <div class="col col-12 col-md-12 col-lg-6 col-xl-3">
              <div class="it-footer-logo">
                <img src="images/logo.png" alt="logo" class="imng-fluid" />
              </div>
              <p class="it-footer-description">
                At vero eos et accusamus et iusto odio dignissimos ducimus
                voluptatum
              </p>
              <h6 class="it-footer-title">Social Icons</h6>
              <ul class="it-social-list">
                <li class="it-social-item">
                  <a class="it-social-link" href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
                <li class="it-social-item">
                  <a class="it-social-link" href="#">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li class="it-social-item">
                  <a class="it-social-link" href="#">
                    <i class="fa-solid fa-rss"></i>
                  </a>
                </li>
                <li class="it-social-item">
                  <a class="it-social-link" href="#">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
                <li class="it-social-item">
                  <a class="it-social-link" href="#">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="it-social-item">
                  <a class="it-social-link" href="#">
                    <i class="fa-brands fa-google-plus-g"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col col-12 col-md-12 col-lg-6 col-xl-3">
              <h6 class="it-footer-title">Popular Tour Places</h6>
              <ul class="it-footer-menu-list">
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Canada Navy
                    City</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Watican Flower
                    Park</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Paris Effil
                    Tower</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> London Stone
                    Bridegs</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i>Best Summer
                    Camps</a
                  >
                </li>
              </ul>
            </div>
            <div class="col col-12 col-md-12 col-lg-6 col-xl-2">
              <h6 class="it-footer-title">Important Links</h6>
              <ul class="it-footer-menu-list">
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Our Team</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Contact US</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> About Us</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Recent News</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-angle-double-right"></i> Terms and
                    Services</a
                  >
                </li>
              </ul>
            </div>
            <div class="col col-12 col-md-12 col-lg-6 col-xl-4">
              <h6 class="it-footer-title">Get In Touch</h6>
              <ul class="it-footer-menu-list">
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-home"></i> New York, NY 10012, US-52014</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-envelope"></i> info12323@example.com</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-phone"></i> + 01 234 567 88, + 01 234 567
                    88</a
                  >
                </li>
                <li class="it-footer-menu-item">
                  <a href="#" class="it-footer-menu-link"
                    ><i class="fa fa-print"></i> + 01 234 567 89, + 01 234 567
                    89</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="it-footer-bottom">
        <div class="container">
          <div class="it-footer-bottom-content">
            <p class="it-site-copyright">
              Copyright © 2020 <a href="#">Gowell</a>. Designed by
              <a href="#">Spruko</a> All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </body>
</html>
