<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section
      id="parallax-section-2"
      class="parallax-section parallax-banner-2 parallax-background parallax-section-2 ha-waypoint fixed animated"
    >
      <div class="parallax-overlay parallax-overlay-2"></div>
      <div class="grid-container parallax-content">
        <!-- parallax header -->
        <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
          <header class="parallax-header">
            <h2 class="parallax-title" style="opacity: 1">
              <span>Travel is a therapy</span>
            </h2>
            <p class="parallax-slogan" style="opacity: 1">
              The journey of a thousand miles begins with a single step.
            </p>
          </header>
        </div>
        <!-- close parallax header -->
      </div>
      <!-- close grid container -->
    </section>
  </body>
</html>
