<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section id="our-process" class="padding bgprimary">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="heading-title whitecolor">
              <span>Quisque tellus risus, adipisci </span>
              <h2 class="font-normal">Our Work Process</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="process-wrapp">
            <li class="whitecolor">
              <span class="pro-step bottom20">01</span>
              <p class="fontbold bottom20">World Wide</p>
              <p class="mt-n2 mt-sm-0">
                Quisque tellus risus, adipisci viverra bibendum urna.
              </p>
            </li>
            <li class="whitecolor">
              <span class="pro-step bottom20">02</span>
              <p class="fontbold bottom20">Shipping</p>
              <p class="mt-n2 mt-sm-0">
                Quisque tellus risus, adipisci viverra bibendum urna.
              </p>
            </li>
            <li class="whitecolor active">
              <span class="pro-step bottom20">03</span>
              <p class="fontbold bottom20">Local Cargo</p>
              <p class="mt-n2 mt-sm-0">
                Quisque tellus risus, adipisci viverra bibendum urna.
              </p>
            </li>
            <li class="whitecolor">
              <span class="pro-step bottom20">04</span>
              <p class="fontbold bottom20">Air Freight</p>
              <p class="mt-n2 mt-sm-0">
                Quisque tellus risus, adipisci viverra bibendum urna.
              </p>
            </li>
            <li class="whitecolor">
              <span class="pro-step bottom20">05</span>
              <p class="fontbold bottom20">Ware Houses</p>
              <p class="mt-n2 mt-sm-0">
                Quisque tellus risus, adipisci viverra bibendum urna.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
