<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <!-- Video Start Arera -->
    <div
      class="video-area video-bg pt-200 pb-200"
      data-background="images/video-bg.jpg"
      style="background-image: url(images/video-bg.jpg); margin:50px 0;"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="video-caption text-center">
              <div class="video-icon">
                <a
                  class="popup-video"
                  href="https://www.youtube.com/watch?v=1aP-TXUpNoU"
                  tabindex="0"
                  ><i class="fas fa-play"></i
                ></a>
              </div>
              <p class="pera1">Love where you're going in the perfect time</p>
              <p class="pera2">World Leading Online</p>
              <p class="pera3">Tour Booking Platform</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Video Start End -->
  </body>
</html>
