<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Super Travel Section Start -->
    <section class="super-travel">
      <div class="container">
        <div class="super-travel-content">
          <div class="row align-items-center">
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div class="super-travel-details">
                <h2 class="super-travel-title super-travel-subtitle">
                  About Our Super Travel
                </h2>
                <h6 class="super-travel-subtitle">
                  Amazing Places To Enjony Your Travel
                </h6>
                <p class="super-travel-discription">
                  We have always heard that no one can buy happiness that is no
                  true statements. "Travel is the just thing you buy that makes
                  you happy" so we are here to provide you best tour packages
                  all around the world.
                </p>
                <a href="#" class="btn super-travel-btn">READ MORE</a>
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div class="super-travel-img">
                <img
                  src="images/super.jpg"
                  loading="lazy"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Super Travel Section End -->
  </body>
</html>
