<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="services-block content content-center" id="services">
      <div class="container">
        <h2>Our <strong>services</strong></h2>
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 item">
            <i class="fa fa-address-card"></i>
            <h3>Visa</h3>
            <p>
              Visa is a part of our complete suite oftravel solutions apart<br />
              from air ticketing and Forex services.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 item">
            <i class="fa fa-passport"></i>
            <h3>Passport</h3>
            <p>
              Our team of extremely efficient and experienced of
              professionals<br />
              to handle all the requisite visa services.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 item">
            <i class="fa fa-file"></i>
            <h3>Insurance</h3>
            <p>
              Whether you travel for business or pleasure, travel involves
              risk.<br />
              We provide the travel insurance services.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 item">
            <i class="fa fa-infinity"></i>
            <h3>Forex Assistance</h3>
            <p>
              Local country wise currencies are required to handle<br />
              expenses paid joy. And we guide you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
