<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="event testimonial bg bg-img bg-about">
      <div class="container">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <div class="title title3">
              <div class="main-title">
                <h2 class="text-white">Testimonial</h2>
              </div>
              <div class="sub-title">
                <p class="text-white">
                  Register now and reserve your seat for this<span
                    >year's Unice,</span
                  >
                  the largest <span>web development</span> and online
                  marketing<span>conference in UK,</span> covering everything
                  you need to know in order to develop a successful online
                  business.
                </p>
              </div>
            </div>
          </div>
          <div class="offset-md-1 col-md-10">
            <div class="testimonial-slider owl-carousel">
              <div class="offset-xl-1 col-12 col-xl-10">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="testimonial-msg set-relative">
                      <img alt="" class="img-fluid" src="images/L3-1.png" />
                      <div class="msg-box">
                        <div class="center-content">
                          <img
                            alt=""
                            class="img-fluid set-abs"
                            src="images/message.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-lg-4 col-sm-9">
                    <div class="quotes set-relative m-b-30">
                      <img
                        alt=""
                        class="img-fluid set-abs left-quote"
                        src="images/i1.png"
                      />
                      <div class="quote-text">
                        <h5>
                          It goes without saying that customer data sec urity
                          and compliance is top of mind in most retail board.
                        </h5>
                      </div>
                      <img
                        alt=""
                        class="img-fluid set-abs right-quote"
                        src="images/i2.png"
                      />
                    </div>
                    <div class="rating align-items-center">
                      <div class="stars">
                        <ul>
                          <li>
                            <i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </div>
                      <h5 class="name">
                        Kolan Motto<!-- -->- <span> <!-- -->CEO, Therat</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>

              <div class="offset-xl-1 col-12 col-xl-10">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="testimonial-msg set-relative">
                      <img alt="" class="img-fluid" src="images/L3-1.png" />
                      <div class="msg-box">
                        <div class="center-content">
                          <img
                            alt=""
                            class="img-fluid set-abs"
                            src="images/message.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-lg-4 col-sm-9">
                    <div class="quotes set-relative m-b-30">
                      <img
                        alt=""
                        class="img-fluid set-abs left-quote"
                        src="images/i1.png"
                      />
                      <div class="quote-text">
                        <h5>
                          It goes without saying that customer data sec urity
                          and compliance is top of mind in most retail board.
                        </h5>
                      </div>
                      <img
                        alt=""
                        class="img-fluid set-abs right-quote"
                        src="images/i2.png"
                      />
                    </div>
                    <div class="rating align-items-center">
                      <div class="stars">
                        <ul>
                          <li>
                            <i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </div>
                      <h5 class="name">
                        Kolan Motto<!-- -->- <span> <!-- -->CEO, Therat</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>

              <div class="offset-xl-1 col-12 col-xl-10">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="testimonial-msg set-relative">
                      <img alt="" class="img-fluid" src="images/L3-1.png" />
                      <div class="msg-box">
                        <div class="center-content">
                          <img
                            alt=""
                            class="img-fluid set-abs"
                            src="images/message.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-lg-4 col-sm-9">
                    <div class="quotes set-relative m-b-30">
                      <img
                        alt=""
                        class="img-fluid set-abs left-quote"
                        src="images/i1.png"
                      />
                      <div class="quote-text">
                        <h5>
                          It goes without saying that customer data sec urity
                          and compliance is top of mind in most retail board.
                        </h5>
                      </div>
                      <img
                        alt=""
                        class="img-fluid set-abs right-quote"
                        src="images/i2.png"
                      />
                    </div>
                    <div class="rating align-items-center">
                      <div class="stars">
                        <ul>
                          <li>
                            <i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star yellow"></i
                            ><i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </div>
                      <h5 class="name">
                        Kolan Motto<!-- -->- <span> <!-- -->CEO, Therat</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
