<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common_assets/css/all.min.css">
    <link rel="stylesheet" href="../../common_assets/css/slick.css">
    <link rel="stylesheet" href="css/style.css">



    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="/js/custom.js"></script>
</head>

<!-- Header Menu Two Start -->
<header class="h-menu-two">
    <div class="container">
        <div class="h-menu-two-logo-content">
            <div class="navbar-brand">
                <a href="#"><img src="images/h-menu-logo.png" alt="" class="img-fluid"></a>
            </div>
            <div class="h-menu-two-contact">
                <a href="#" class="h-menu-mobile text-decoration-none"><i class="fa-solid fa-phone text-white"></i><span> +91 697899879</span></a>
                <a href="#" class="h-menu-mobile h-menu-email text-decoration-none"><i class="fa-solid fa-envelope text-white"></i><span> info@demo.com</span></a>
            </div>
        </div>
    </div>
    <div class="h-menu-two-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icons"></span>
                   <span class="navbar-toggler-icons"></span>
                   <span class="navbar-toggler-icons"></span>
               </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item h-menu-dropdown-box">
                            <a class="nav-link" href="#">Group Tour <i class="fa-solid fa-angle-right d-lg-none"></i></a>
                            <ul class="h-menu-dropdown">
                                <li class="h-menu-item h-menu-dropdown-box">
                                    <a href="#" class="h-menu-link">Domestic <i class="fa-solid fa-angle-right"></i></a>
                                    <ul class="h-menu-dropdown h-menu-megamenu">
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Spiritual Tour of Madhya pradesh</a>
                                        </li>
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Nature Tour to Madhya pradesh</a>
                                        </li>
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Gajab M.P ka darshan</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="h-menu-item h-menu-dropdown-box">
                                    <a href="#" class="h-menu-link">International <i class="fa-solid fa-angle-right"></i></a>
                                    <ul class="h-menu-dropdown h-menu-megamenu">
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Jwels of Gujrath</a>
                                        </li>
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Smpoorna Gurath tour</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item h-menu-dropdown-box">
                            <a class="nav-link" href="#">Holiday <i class="fa-solid fa-angle-right d-lg-none"></i></a>
                            <ul class="h-menu-dropdown">
                                <li class="h-menu-item h-menu-dropdown-box">
                                    <a href="#" class="h-menu-link">Domestic <i class="fa-solid fa-angle-right"></i></a>
                                    <ul class="h-menu-dropdown h-menu-megamenu">
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Assam</a>
                                        </li>
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Masharashtra</a>
                                        </li>
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Gajab M.P ka darshan</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="h-menu-item h-menu-dropdown-box">
                                    <a href="#" class="h-menu-link">International <i class="fa-solid fa-angle-right"></i></a>
                                    <ul class="h-menu-dropdown h-menu-megamenu">
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Dubai</a>
                                        </li>
                                        <li class="h-menu-item">
                                            <a href="#" class="h-menu-link">Thailand</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item h-menu-dropdown-box">
                            <a class="nav-link" href="#">Other <i class="fa-solid fa-angle-right d-lg-none"></i></a>
                            <ul class="h-menu-dropdown">
                                <li class="h-menu-item">
                                    <a href="#" class="h-menu-link">Enquiry</a>
                                </li>
                                <li class="h-menu-item">
                                    <a href="#" class="h-menu-link">Career</a>
                                </li>
                                <li class="h-menu-item">
                                    <a href="#" class="h-menu-link">Special Offers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-0" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header Menu Two End -->

</body>

</html>
