<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/custom.js"></script>
  </head>
  <body>
    <section class="centred count-sec">
      <div class="container inner-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
            <div class="counter-block-one">
              <div class="inner-box">
                <div
                  class="counter-bg"
                  style="background-image: url(images/shape-5.png)"
                ></div>
                <div class="count-outer">
                  <span
                    class="counter-text timer count-number"
                    data-to="3000"
                    data-speed="1500"
                    >0</span
                  >
                </div>
                <p>Clients</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
            <div class="counter-block-one">
              <div class="inner-box">
                <div
                  class="counter-bg"
                  style="background-image: url(images/shape-6.png)"
                ></div>
                <div class="count-outer">
                  <span
                    class="counter-text timer count-number"
                    data-to="850"
                    data-speed="1500"
                    >0</span
                  >
                </div>
                <p>Tours</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
            <div class="counter-block-one">
              <div class="inner-box">
                <div
                  class="counter-bg"
                  style="background-image: url(images/shape-7.png)"
                ></div>
                <div class="count-outer">
                  <span
                    class="counter-text timer count-number"
                    data-to="5000"
                    data-speed="1500"
                    >0</span
                  >
                </div>
                <p>Happy Customers</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
            <div class="counter-block-one">
              <div class="inner-box">
                <div
                  class="counter-bg"
                  style="background-image: url(images/shape-8.png)"
                ></div>
                <div class="count-outer">
                  <span
                    class="counter-text timer count-number"
                    data-to="250"
                    data-speed="1500"
                    >0</span
                  >
                </div>
                <p>Inernational</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
