<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section class="half-section p-0 bg-change bg-green">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 p-lg-0 order-lg-2">
            <div
              class="split-container-setting style-three text-center text-lg-left"
            >
              <div class="main-title mb-5 text-lg-left">
                <h5 class="font-18">What you are looking for</h5>
                <h2 class="mb-0">
                  Discover the <br />
                  <b>World</b> With Us
                </h2>
              </div>
              <p class="color-white mb-5">
                we'll help you create memories that will last a lifetime. Let us
                handle all the details so you can sit back, relax, and enjoy the
                journey. Book your next getaway with us today and join the
                thousands of satisfied customers who have made us their trusted
                travel partner.
              </p>

              <a class="btn-setting btn-transparent btn-hvr-blue color-white"
                >learn more</a
              >
            </div>
          </div>

          <div class="col-lg-6 col-md-12 p-0">
            <div class="hover-effect">
              <img
                alt="stats"
                loading="lazy"
                src="images/traveller.jpg"
                class="about-img"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
