<html>
  <head>
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
  </head>
  <body>
    <div>
      <div class="home-container">
        <div class="home-get-started">
          <div class="home-content">
            <div class="home-heading">
              <h2 class="home-text">We Offer a Wide Range of Tours</h2>
              <span class="home-text1">
                All of our tours are led by knowledgeable guides who are
                passionate about their destinations and will provide you with an
                in-depth understanding of the history, culture, and natural
                beauty of the areas you visit.
              </span>
            </div>
            <div class="home-hero-buttons">
              <div class="home-i-o-s-btn">
                <span class="home-caption">Explore Now</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
