<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="tour-sec">
      <div class="container">
        <div class="heading text-center justify-content-center">
          <h2>Most Popular Tours</h2>
          <div class="subtitle">
            <h6>Tour Category</h6>
          </div>
        </div>

        <div class="tour-sec-slider owl-carousel">
          <div class="item">
            <div class="card">
              <div class="card-body text-center">
                <div class="w-50 mx-auto mb-5">
                  <img
                    src="images/096-eiffel-tower.svg"
                    alt="dest-img"
                    class="brround bg-pink-transparent"
                  />
                </div>
                <h4 class="font-weight-bold text-default pb-4 mb-0">
                  Paris Tour
                </h4>
                <div class="d-inline-flex">
                  <a class="mb-1 mt-2"><i class="fa fa-calendar"></i> 15 Nov</a>
                  <a class="mb-1 mt-2 border-start ms-3 ps-3"
                    ><i class="fa fa-clock"></i> 9 days</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3"
                    ><i class="fa fa-heart"></i> 95</a
                  >
                </div>
                <div class="border-top pt-4 mt-4">
                  <div class="d-inline-flex ms-auto">
                    <a href="">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card">
              <div class="card-body text-center">
                <div class="w-50 mx-auto mb-5">
                  <img
                    src="images/010-tokyo-tower.svg"
                    alt="dest-img"
                    class="brround bg-purple-transparent"
                  />
                </div>
                <h4 class="font-weight-bold text-default pb-4 mb-0">
                  Tokyo Tour
                </h4>
                <div class="d-inline-flex">
                  <a class="mb-1 mt-2"><i class="fa fa-calendar"></i> 15 Nov</a>
                  <a class="mb-1 mt-2 border-start ms-3 ps-3"
                    ><i class="fa fa-clock"></i> 9 days</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3"
                    ><i class="fa fa-heart"></i> 95</a
                  >
                </div>
                <div class="border-top pt-4 mt-4">
                  <div class="d-inline-flex ms-auto">
                    <a href="">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card">
              <div class="card-body text-center">
                <div class="w-50 mx-auto mb-5">
                  <img
                    src="images/075-statue-of-liberty.svg"
                    alt="dest-img"
                    class="brround bg-pink-transparent"
                  />
                </div>
                <h4 class="font-weight-bold text-default pb-4 mb-0">
                  America Tour
                </h4>
                <div class="d-inline-flex">
                  <a class="mb-1 mt-2"><i class="fa fa-calendar"></i> 15 Nov</a>
                  <a class="mb-1 mt-2 border-start ms-3 ps-3"
                    ><i class="fa fa-clock"></i> 9 days</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3"
                    ><i class="fa fa-heart"></i> 95</a
                  >
                </div>
                <div class="border-top pt-4 mt-4">
                  <div class="d-inline-flex ms-auto">
                    <a href="">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card">
              <div class="card-body text-center">
                <div class="w-50 mx-auto mb-5">
                  <img
                    src="images/097-taj-mahal.svg"
                    alt="dest-img"
                    class="brround bg-purple-transparent"
                  />
                </div>
                <h4 class="font-weight-bold text-default pb-4 mb-0">
                  India Tour
                </h4>
                <div class="d-inline-flex">
                  <a class="mb-1 mt-2" href=""
                    ><i class="fa fa-calendar"></i> 15 Nov</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3" href=""
                    ><i class="fa fa-clock"></i> 9 days</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3" href=""
                    ><i class="fa fa-heart"></i> 95</a
                  >
                </div>
                <div class="border-top pt-4 mt-4">
                  <div class="d-inline-flex ms-auto">
                    <a href="">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card">
              <div class="card-body text-center">
                <div class="w-50 mx-auto mb-5">
                  <img
                    src="images/094-sydney-opera-house.svg"
                    alt="dest-img"
                    class="brround bg-info-transparent"
                  />
                </div>
                <h4 class="font-weight-bold text-default pb-4 mb-0">Sydney</h4>
                <div class="d-inline-flex">
                  <a class="mb-1 mt-2" href=""
                    ><i class="fa fa-calendar"></i> 15 Nov</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3" href=""
                    ><i class="fa fa-clock"></i> 9 days</a
                  >
                  <a class="mb-1 mt-2 border-start ms-3 ps-3" href=""
                    ><i class="fa fa-heart"></i> 95</a
                  >
                </div>
                <div class="border-top pt-4 mt-4">
                  <div class="d-inline-flex ms-auto">
                    <a href="">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
