<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common_assets/css/all.min.css">
    <link rel="stylesheet" href="../../common_assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
</head>

<body>


    <!-- Tour Services Section Start -->
    <section class="t-services-section">
        <div class="container">
            <div class="t-services-content">
                <div class="row">
                    <div class="col col-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="t-services-item text-center">
                            <div class="t-services-img mx-auto">
                                <img src="assets/images/call.png" alt="" class="img-fluid w-100">
                            </div>
                            <h5 class="t-services-title">Advice & Support</h5>
                            <p class="t-services discription">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                        </div>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="t-services-item text-center">
                            <div class="t-services-img mx-auto">
                                <img src="assets/images/globe.png" alt="" class="img-fluid w-100">
                            </div>
                            <h5 class="t-services-title">Air Ticketing</h5>
                            <p class="t-services discription">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                        </div>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="t-services-item text-center">
                            <div class="t-services-img mx-auto">
                                <img src="assets/images/building.png" alt="" class="img-fluid w-100">
                            </div>
                            <h5 class="t-services-title">Hotel Accomodation</h5>
                            <p class="t-services discription">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                        </div>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="t-services-item text-center mb-0">
                            <div class="t-services-img mx-auto">
                                <img src="assets/images/location.png" alt="" class="img-fluid w-100">
                            </div>
                            <h5 class="t-services-title">Tour Packages</h5>
                            <p class="t-services discription">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tour Services Section End -->

</body>

</html>