<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
  </head>

  <body>
    <!-- Pricing Section Start -->
    <section class="pricing-section">
      <div class="container">
        <div class="pricing-content">
          <div class="row">
            <div class="col col-12 col-md-6 col-lg-4 col-xl-4">
              <div class="pricing-item">
                <div class="pricing-img">
                  <img src="images/price-tag.png" alt="" class="img-fluid" />
                </div>
                <div class="pricing-body">
                  <h5 class="pricing-body-title">Pricing Model</h5>
                  <p class="pricing-body-discription">
                    With 500+ suppliers and the purchasing power of 300 million
                    members
                  </p>
                </div>
              </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4 col-xl-4">
              <div class="pricing-item">
                <div class="pricing-img award-img">
                  <img src="images/award.png" alt="" class="img-fluid" />
                </div>
                <div class="pricing-body">
                  <h5 class="pricing-body-title">Award Winning</h5>
                  <p class="pricing-body-discription">
                    Travel worry free knowing that here present we're here if
                    you need us, 24 hours a day
                  </p>
                </div>
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-4 col-xl-4">
              <div class="pricing-item">
                <div class="pricing-img">
                  <img src="images/globe.png" alt="" class="img-fluid" />
                </div>
                <div class="pricing-body">
                  <h5 class="pricing-body-title">Worldwide Coverage</h5>
                  <p class="pricing-body-discription">
                    1,200,000 hotels in more than 200 countries and regions &
                    flights to over 5,000 citites.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing Section End -->
  </body>
</html>
