<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
    <link rel="stylesheet" href="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    />
  </head>
  <body>
    <section class="cust-mg">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h2 class="section-title text-center">Testimonials</h2>
        <p class="dest-sub">
          Tourist Feedback
        </p>
      </div>
    </div>

    </div>
    <div class="owl-carousel testi owl-theme mt-5">
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <img
              src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
          </div>
          <div class="testimonial mt-4 mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            expedita dicta doloremque odit saepe quo natus aut accusantium alias
            blanditiis.
          </div>
          <div class="name">Denis Richie</div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <img
              src="https://images.pexels.com/photos/1024311/pexels-photo-1024311.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
            />
          </div>
          <div class="testimonial mt-4 mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            expedita dicta doloremque odit saepe quo natus aut accusantium alias
            blanditiis.
          </div>
          <div class="name">Lisa Sthalekar</div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <img
              src="https://images.pexels.com/photos/1036622/pexels-photo-1036622.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
          </div>
          <div class="testimonial mt-4 mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            expedita dicta doloremque odit saepe quo natus aut accusantium alias
            blanditiis.
          </div>
          <div class="name">Elizabith Richie</div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <img
              src="https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
          </div>
          <div class="testimonial mt-4 mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            expedita dicta doloremque odit saepe quo natus aut accusantium alias
            blanditiis.
          </div>
          <div class="name">Daniel Xavier</div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <img
              src="https://images.pexels.com/photos/1832959/pexels-photo-1832959.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
          </div>
          <div class="testimonial mt-4 mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            expedita dicta doloremque odit saepe quo natus aut accusantium alias
            blanditiis.
          </div>
          <div class="name">Emma Watson</div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <img
              src="https://images.pexels.com/photos/718261/pexels-photo-718261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
          </div>
          <div class="testimonial mt-4 mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            expedita dicta doloremque odit saepe quo natus aut accusantium alias
            blanditiis.
          </div>
          <div class="name">Mohammad Imran</div>
        </div>
      </div>
    </div>
    </section>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <script>
      $(document).ready(function () {
        var silder = $(".owl-carousel");
        silder.owlCarousel({
          autoplay: true,
          autoplayTimeout: 3000,
          autoplayHoverPause: false,
          items: 1,
          stagePadding: 20,
          center: true,
          nav: false,
          margin: 50,
          dots: true,
          loop: true,
          responsive: {
            0: { items: 1 },
            480: { items: 2 },
            575: { items: 2 },
            768: { items: 2 },
            991: { items: 3 },
            1200: { items: 4 },
          },
        });
      });
    </script>
  </body>
</html>
