@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.cust-mg {
  margin: 30px 0;
}

.section-title {
  color: #4f4b8b;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.dest-subtitle {
  color: #a1a0b9;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.untree_co-section {
  padding: 70px 0;
}

.media-thumb {
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
}
.media-thumb:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(26, 55, 77, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.media-thumb img {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: 0.3s transform ease;
  -o-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
  filter: brightness(0.7);
}
.media-thumb .media-text {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-top: 20px;
}
.media-thumb .media-text h3 {
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
  margin: 0;
  padding: 0;
}
.media-thumb .media-text .location {
  font-size: 0.8rem;
  color: #fff;
}
.media-thumb .media-text h3,
.media-thumb .media-text .location {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.media-thumb:hover {
  z-index: 3;
}
.media-thumb:hover h3 {
  color: #ffffff;
}
.media-thumb:hover .location {
  color: rgba(255, 255, 255, 0.5);
}
.media-thumb:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.media-thumb:hover:after {
  opacity: 1;
  visibility: visible;
}
.media-thumb:hover .media-text {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}

.owl-3-slider .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.owl-3-slider .owl-nav .owl-prev,
.owl-3-slider .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (max-width: 767.98px) {
  .owl-3-slider .owl-nav .owl-prev,
  .owl-3-slider .owl-nav .owl-next {
    display: none;
  }
}
.owl-3-slider .owl-nav .owl-prev {
  left: -50px;
}
.owl-3-slider .owl-nav .owl-prev:hover {
  left: -65px;
  color: #1a374d;
}
.owl-3-slider .owl-nav .owl-next {
  right: -50px;
}
.owl-3-slider .owl-nav .owl-next:hover {
  color: #1a374d;
  right: -65px;
}
.owl-3-slider .owl-nav .owl-next span {
  display: inline-block;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.owl-3-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
