<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Tour type Section Start -->
    <section class="tour-type-section">
      <div class="container">
        <div class="tour-type-content">
          <div class="tour-type-list">
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/hill.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Mountains</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/trip.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Flyings</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/palm-tree.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Seas</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/historical.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Historical</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/climb.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Climbing</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/mountain.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Snow Views</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/india.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">7 Wonders</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/pyramid.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Pyramids</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/camel.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Deserts</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/forest.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">Forests</h6>
                </a>
              </div>
            </div>
            <div class="tour-type-item">
              <div class="tour-type-img text-decoration-none">
                <a href="#" class="text-decoration-none">
                  <img src="images/world.png" alt="" class="img-fluid" />
                  <h6 class="tour-type-title">World Tour</h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Tour type Section End -->
  </body>
</html>
