<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section id="about">
      <div class="container">
        <div class="row dot-box">
          <!-- Heading Area-->
          <div class="col-lg-6 order-lg-2">
            <div class="heading-area pl-lg-4 p-0">
              <h2 class="title">Provide Best Tour Packages</h2>
              <h6 class="sub-title main-color">Basic info about componay</h6>
              <p class="paragraph">
                We understand that travel is more than just a trip, it's an
                experience. Whether you're seeking adventure, relaxation, or a
                mix of both, we have the expertise and passion to make your
                travel dreams a reality.
                <!--List-->
              </p>
              <ul class="about-list">
                <li>
                  <i class="fa fa-circle-check a-icon"></i> join the
                  thousands of satisfied customers.
                </li>
                <li>
                  <i class="fa fa-circle-check a-icon"></i> we'll help you
                  create memories.
                </li>
                <li>
                  <i class="fa fa-circle-check a-icon"></i> variety of
                  destinations and attractive itineraries.
                </li>
                <li>
                  <i class="fa fa-circle-check a-icon"></i> Provide best tour
                  and travel guide.
                </li>
              </ul>
            </div>
          </div>

          <!-- Features Box-->
          <div class="col-lg-6">
            <!--About Image-->
            <div class="about-image">
              <img src="images/about-img.png" loading="lazy" alt="about-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
