<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="tour-sec">
      <div class="heading text-center justify-content-center">
        <h2>Most Popular Tours</h2>
        <div class="subtitle">
          <h6>Tour Category</h6>
        </div>
      </div>

      <div class="tour-slider owl-carousel">
        <div class="about-box center-block">
          <div class="about-opacity-icon">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <div class="about-main-icon pb-4">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <h5 class="mb-0">Our Consultants</h5>
        </div>

        <div class="about-box center-block">
          <div class="about-opacity-icon">
            <i class="fa fa-lightbulb" aria-hidden="true"></i>
          </div>
          <div class="about-main-icon pb-4">
            <i class="fa fa-lightbulb" aria-hidden="true"></i>
          </div>
          <h5 class="mb-0">Great Ideas</h5>
        </div>

        <div class="about-box center-block">
          <div class="about-opacity-icon">
            <i class="fa fa-chart-line" aria-hidden="true"></i>
          </div>
          <div class="about-main-icon pb-4">
            <i class="fa fa-chart-line" aria-hidden="true"></i>
          </div>
          <h5 class="mb-0">Market Trends</h5>
        </div>

        <div class="about-box center-block">
          <div class="about-opacity-icon">
            <i class="fa fa-money-bill-wave" aria-hidden="true"></i>
          </div>
          <div class="about-main-icon pb-4">
            <i class="fa fa-money-bill-wave" aria-hidden="true"></i>
          </div>
          <h5 class="mb-0">Earn Profits</h5>
        </div>
      </div>
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
