<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container clearfix">
      <div id="oc-clients" class="partner-slider owl-carousel">
        <div class="oc-item">
          <a href=""><img src="images/1.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/2.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/3.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/4.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/5.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/6.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/7.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/8.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""><img src="images/9.png" loading="lazy" alt="Clients" /></a>
        </div>
        <div class="oc-item">
          <a href=""
            ><img src="images/10.png" loading="lazy" alt="Clients"
          /></a>
        </div>
      </div>
    </div>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
