<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section id="blog" class="blog_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title text-center">
              <h2>Our Latest Blogs For Travellers</h2>
              <span>Latest Blog Posts</span>
            </div>
          </div>
          <!-- END COL -->
        </div>
        <!-- END ROW -->

        <div class="row">
          <div class="blog-slider-sec owl-carousel">
            <div class="single_blog">
              <div class="blog_image">
                <img
                  class="blog-photo"
                  loading="lazy"
                  alt="Blog Photo"
                  src="images/1.jpg"
                />
              </div>

              <div class="blog-text">
                <div class="post-meta">
                  <span class="float-left">
                    <i class="fa fa-calendar-days"></i> 15 May 2020
                  </span>
                </div>

                <h4>
                  <a href="#">Gray and Black Dslr Camera Beside Sun Hat</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur et quam sollicitudin mi tincidunt faucibus
                </p>
                <a href="#" class="post-btn"
                  >View Details <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>

            <div class="single_blog">
              <div class="blog_image">
                <img
                  class="blog-photo"
                  loading="lazy"
                  alt="Blog Photo"
                  src="images/2.jpg"
                />
              </div>

              <div class="blog-text">
                <div class="post-meta">
                  <span class="float-left">
                    <i class="fa fa-calendar-days"></i> 15 May 2020
                  </span>
                </div>

                <h4><a href="#">Golden Gate Bridge, San Francisco</a></h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur et quam sollicitudin mi tincidunt faucibus
                </p>
                <a href="#" class="post-btn"
                  >View Details <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>

            <div class="single_blog">
              <div class="blog_image">
                <img
                  class="blog-photo"
                  loading="lazy
                "
                  alt="Blog Photo"
                  src="images/3.jpg"
                />
              </div>

              <div class="blog-text">
                <div class="post-meta">
                  <span class="float-left">
                    <i class="fa fa-calendar-days"></i> 15 May 2020
                  </span>
                </div>

                <h4><a href="#">Brown Pendant Lamp Hanging on Trees</a></h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur et quam sollicitudin mi tincidunt faucibus
                </p>
                <a href="#" class="post-btn"
                  >View Details <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>

            <div class="single_blog">
              <div class="blog_image">
                <img
                  class="blog-photo"
                  loading="lazy"
                  alt="Blog Photo"
                  src="images/2.jpg"
                />
              </div>

              <div class="blog-text">
                <div class="post-meta">
                  <span class="float-left">
                    <i class="fa fa-calendar-days"></i> 15 May 2020
                  </span>
                </div>

                <h4><a href="#">Golden Gate Bridge, San Francisco</a></h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur et quam sollicitudin mi tincidunt faucibus
                </p>
                <a href="#" class="post-btn"
                  >View Details <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!--- END ROW -->
      </div>
      <!--- END CONTAINER -->
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
