<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Top Attraction Section Start -->
    <section class="t-attraction-section">
      <div class="container">
        <div class="t-attraction-content">
          <div class="t-attraction-title-content">
            <h2 class="t-attraction-title text-center">Top Attraction</h2>
            <p class="t-attraction-discription text-center mb-0">
              Grab top tickets with us now so you can relax and kick your feet
              up later.
            </p>
          </div>
          <div class="t-attraction-list">
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-users"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Family Friendly</a
              >
            </div>
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-person-walking"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Guide Tours</a
              >
            </div>
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-person-hiking"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Self Guides</a
              >
            </div>
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-eye"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Sight Seeing</a
              >
            </div>
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-globe"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Special Tours</a
              >
            </div>
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-map"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Theme Tour</a
              >
            </div>
            <div class="t-attraction-item text-center">
              <div class="t-attraction-img">
                <a href="#"><i class="fa-solid fa-signs-post"></i></a>
              </div>
              <a class="t-attraction-item-title text-decoration-none"
                >Trending Spot</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Top Attraction Section End -->
  </body>
</html>
