<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <!------------ Video section ------------>
    <section id="video-sec" class="parallax">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-12 col-sm-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">
              Watch the video<small
                >All journeys have secret destinations of which the traveler is
                unaware.</small
              >
            </h2>
            <a
              class="popup-youtube"
              href="https://www.youtube.com/watch?v=AQ6GmpMu5L8"
              ><i class="fa fa-play"></i
            ></a>
            <small
              ><em>Video by: Paris Vacation Travel Guide | Expedia</em></small
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
