<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
  </head>

  <body>
    <!-- Crafting Section Start -->
    <section class="crafting-section cust-mg">
      <div class="container">
        <div class="crafting-content">
          <div class="crafting-title-content text-center">
            <h2 class="crafting-title">
              A digital studio crafting <br class="ctafting-br" />
              beautiful experiences.
            </h2>
            <h6 class="crafting-subtitle">Easy way to build websites</h6>
          </div>
          <div class="row">
            <div class="col col-12 col-md-6 col-lg-4 col-xl-4">
              <div class="crafting-points text-center">
                <h2 class="crafting-points-number">01</h2>
                <h5 class="crafting-points-title">Discover talent</h5>
                <p class="crafting-points-discription">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting.
                </p>
                <a href="#" class="btn crafting-points-btn">VIEW MORE</a>
              </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4 col-xl-4">
              <div class="crafting-points text-center">
                <h2 class="crafting-points-number">02</h2>
                <h5 class="crafting-points-title">Expert analysis</h5>
                <p class="crafting-points-discription">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting.
                </p>
                <a href="#" class="btn crafting-points-btn">VIEW MORE</a>
              </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4 col-xl-4">
              <div class="crafting-points text-center">
                <h2 class="crafting-points-number">03</h2>
                <h5 class="crafting-points-title">Explore work</h5>
                <p class="crafting-points-discription">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting.
                </p>
                <a href="#" class="btn crafting-points-btn">VIEW MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Crafting Section End -->
  </body>
</html>
