<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section id="contact" class="p-0 w-100">
      <div class="container contact-shadow">
        <div class="row mx-lg-0">
          <div class="col-lg-6 col-md-6 col-sm-12 p-0">
            <div class="contact-box box-shadow-contact">
              <div class="main-title text-center text-md-left mb-4">
                <h2 class="font-weight-normal">Contact Us</h2>
              </div>

              <div class="text-center text-md-left">
                <!--Address-->
                <p class="mb-3">
                  123 Street New York City , United States Of America.
                </p>

                <!--Phone-->
                <p class="mb-3">
                  Office Telephone : 001 01085379709 <br />
                  Mobile : 001 63165370895
                </p>

                <!--Email-->
                <p class="mb-3">
                  Email:
                  <a href="" class="color-black">admin@website.com</a>
                  <br />
                  Inquiries:
                  <a href="" class="color-black">email@website.com</a>
                </p>

                <!--Timing-->
                <p class="mb-3">Mon-Sat: 9am to 6pm</p>

                <!--Social Icon-->
                <div class="address-social black">
                  <ul class="list-unstyled">
                    <li>
                      <a class="facebook-bg-hvr ml-0" href=""
                        ><i class="fab fa-facebook-f" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a class="twitter-bg-hvr" href=""
                        ><i class="fab fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a class="google-bg-hvr" href=""
                        ><i class="fab fa-google" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a class="linkedin-bg-hvr" href=""
                        ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a class="instagram-bg-hvr mr-0" href=""
                        ><i class="fab fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 p-0 col-map box-shadow-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120723.290689808!2d72.70015526249999!3d18.993139900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce676a10bd57%3A0x27c72cbd03ddce49!2sIWS%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1676462042621!5m2!1sen!2sin"
              width="400"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade "
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
