<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="container-xxl py-5">
      <div class="container">
        <div class="bg-light rounded p-3">
          <div
            class="bg-white rounded p-4"
            style="border: 1px dashed rgba(0, 185, 142, 0.3)"
          >
            <div class="row g-5 align-items-center">
              <div class="col-lg-6">
                <img
                  class="img-fluid rounded w-100"
                  src="images/call-to-action.jpg"
                  alt="person-working"
                />
              </div>
              <div class="col-lg-6 mob">
                <div class="mb-4 head-title">
                  <h2 class="mb-3">Contact With Our Travel Agent</h2>
                  <p>
                    We offer a diverse range of travel options such as flights,
                    hotels, tours, and activities to meet the needs of different
                    travelers.
                  </p>
                </div>
                <a href="" class="btn btn-primary py-3 px-4 me-2"
                  ><i class="fa fa-phone-alt me-2"></i>Make A Call</a
                >
                <a href="" class="btn btn-dark py-3 px-4"
                  ><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
