<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
  </head>

  <body>
    <section id="parallax1" class="section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row appear stats">
          <div class="col-md-3">
            <div class="numbers">
              <div class="item text-center">
                <img
                  decoding="async"
                  src="images/arrow2.png"
                  class="tobotm"
                  alt=""
                />
                <span class="icon">
                  <i class="front fa fa-plane"></i>
                  <i class="back fa fa-plane"></i>
                </span>
                <h3 class="timer" data-to="600" data-speed="1500">0</h3>
                <h6>Flight Booking</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="numbers">
              <div class="item text-center">
                <img
                  decoding="async"
                  src="images/arrow1.png"
                  class="toup"
                  alt=""
                />
                <span class="icon">
                  <i class="front fa fa-globe"></i>
                  <i class="back fa fa-globe"></i>
                </span>
                <h3 class="timer" data-to="450" data-speed="1500">0</h3>
                <h6>International Tour</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="numbers">
              <div class="item text-center">
                <img
                  decoding="async"
                  src="images/arrow2.png"
                  class="tobotm"
                  alt=""
                />
                <span class="icon">
                  <i class="front fa fa-home"></i>
                  <i class="back fa fa-home"></i>
                </span>
                <h3 class="timer" data-to="600" data-speed="1500">600</h3>
                <h6>Amazing Tour</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="numbers">
              <div class="item text-center">
                <span class="icon">
                  <i class="front fa fa-hotel"></i>
                  <i class="back fa fa-hotel"></i>
                </span>
                <h3 class="timer" data-to="800" data-speed="1500">0</h3>
                <h6>Hotel Booking</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
