<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section class="content-section text-center">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-address-card"></i>
            </span>
            <h4>
              <strong>Visa</strong>
            </h4>
            <p class="text-faded mb-0">
              Visa is a part of our complete suite of travel solutions apart
              from air ticketing and Forex services.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-passport"></i>
            </span>
            <h4>
              <strong>Passport</strong>
            </h4>
            <p class="text-faded mb-0">
              Our team of extremely efficient and experienced of professionals
              to handle all the requisite visa services.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-file"></i>
            </span>
            <h4>
              <strong>Insurance</strong>
            </h4>
            <p class="text-faded mb-0">
              Whether you travel for business or pleasure, travel involves risk.
              We provide travel insurance services.
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-right-left"></i>
            </span>
            <h4>
              <strong>Forex Assistance</strong>
            </h4>
            <p class="text-faded mb-0">
              Local country wise currencies are required to handle expenses paid
              joy. And we guide you.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
