<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Features Section Start -->
    <section class="feature-section">
      <div class="container">
        <div class="feature-content">
          <div class="feature-title-content text-center">
            <h2 class="feature-title">Feature</h2>
            <p class="feature-discription mb-0">
              We Provide Best Tour Packages In Your Budget
            </p>
          </div>
          <div class="row">
            <div class="col col-12 col-md-12 col-lg-4 col-xl-4">
              <div class="feature-item text-center">
                <div class="feature-img">
                  <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <div class="feature-points">
                  <h4 class="feature-points-title">Best Quality Services</h4>
                  <small class="feature-points-discription"
                    >Save Your Time & Make The Booking Process Simple</small
                  >
                </div>
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-4 col-xl-4">
              <div class="feature-item text-center">
                <div class="feature-img feature-travellers-img">
                  <i class="fa-solid fa-shield"></i>
                </div>
                <div class="feature-points">
                  <h4 class="feature-points-title">Travellers Security</h4>
                  <small class="feature-points-discription">
                    We Provide Our Customer With The Ultimate Experience &
                    World-Class V.I.P Transportation</small
                  >
                </div>
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-4 col-xl-4">
              <div class="feature-item text-center">
                <div class="feature-img feature-support-img">
                  <i class="fa-solid fa-headphones"></i>
                </div>
                <div class="feature-points">
                  <h4 class="feature-points-title">24/7 Support</h4>
                  <small class="feature-points-discription"
                    >Our Support Team Available 24/7 For Your Help & Queries
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->
  </body>
</html>
