<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/icofont.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section class="why_choose">
      <div class="container">
        <div class="row text-left align-items-center">
          <div class="col-md-6">
            <div class="why-choose-img">
              <img
                src="images/why-choose-us.jpg"
                loading="lazy"
                alt="Big image"
              />
              <a href="" class="video-btn"><i class="fa-solid fa-play"></i></a>
            </div>
          </div>

          <div class="col-md-6 pl-30">
            <div class="row">
              <div class="col-md-12 aos-init aos-animate" data-aos="fade-up">
                <div class="section-title text-left why_title">
                  <span>Why Choose Us?</span>
                  <h2>
                    Every Time We Provide <br />
                    best Service
                  </h2>
                </div>
              </div>
              <!-- END COL -->
            </div>
            <!-- END ROW -->

            <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="single-choose mb-20">
                  <i class="fa-brands fa-glide-g"></i>
                  <div class="choose-content">
                    <h4>Best Travel Guide</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing
                      typesetting
                    </p>
                  </div>
                </div>
              </div>
              <!-- END COL -->

              <div class="col-lg-6 col-xs-12 pr-0">
                <div class="single-choose mb-20">
                  <i class="fa-solid fa-globe"></i>
                  <div class="choose-content">
                    <h4>World Class Service</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing
                      typesetting
                    </p>
                  </div>
                </div>
              </div>
              <!-- END COL -->

              <div class="col-lg-6 col-xs-12">
                <div class="single-choose">
                  <i class="fa-solid fa-wifi"></i>
                  <div class="choose-content">
                    <h4>Free Wifi</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing
                      typesetting
                    </p>
                  </div>
                </div>
              </div>
              <!-- END COL -->

              <div class="col-lg-6 col-xs-12 pr-0">
                <div class="single-choose">
                  <i class="fa-solid fa-phone"></i>
                  <div class="choose-content">
                    <h4>24/7 Support</h4>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing
                      typesetting
                    </p>
                  </div>
                </div>
              </div>
              <!-- END COL -->
            </div>
          </div>
          <!-- END COL -->
        </div>
        <!-- END ROW -->
      </div>
      <!-- END CONTAINER -->
    </section>
  </body>
</html>
