@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*************** Tour Services Section Start ****************/

.t-services-section {
    padding: 70px 0 80px;
}

.t-services-img {
    width: 54px;
    height: 54px;
    max-width: 100%;
    margin-bottom: 10px;
}

.t-services-item {
    padding: 20px 20px 30px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 27px 24px -37px rgb(0 0 0 / 40%);
    transition: all 0.5s;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    will-change: transform;
    background: #fff;
}

.t-services-title {
    font-size: 16px;
    font-weight: 500;
    color: #333333e8;
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.t-services.discription {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    color: #666;
    font-family: "Roboto", sans-serif;
}

.t-services-content .col {
    padding: 0 15px;
}


/*************** Tour Services Section End ****************/


/************* Responsive Start **************/

@media (min-width: 1400px) {
    .t-services-section .container {
        max-width: 1200px;
    }
}

@media (max-width: 991px) {
    .t-services-item {
        margin-bottom: 30px;
    }
}


/************* Responsive End **************/