<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="tour-sec">
      <div class="heading text-center justify-content-center">
        <h2>Most Popular Tours</h2>
        <div class="subtitle">
          <h6>Tour Category</h6>
        </div>
      </div>

      <div class="tour-slider-sec">
        <div class="main-slider owl-carousel">
          <div class="card">
            <div class="card-inner">
              <img
                src="images/card-image.jpg"
                class="card-img"
                alt="tour image"
              />
              <div class="image-overlay"></div>
              <div class="text-wrap">
                <h4>Sea Tour</h4>
                <div class="description">
                  <span class="tour-desc">play underwater activities</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-inner">
              <img
                src="images/sky-tour.jpg"
                class="card-img"
                alt="tour image"
              />
              <div class="image-overlay"></div>
              <div class="text-wrap">
                <h4>Sky Tour</h4>
                <div class="description">
                  <span class="tour-desc">play skydive activities</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-inner">
              <img src="images/india.jpg" class="card-img" alt="tour image" />
              <div class="image-overlay"></div>
              <div class="text-wrap">
                <h4>India Tour</h4>
                <div class="description">
                  <span class="tour-desc">play outdoor activities</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-inner">
              <img src="images/ballon.jpg" class="card-img" alt="tour image" />
              <div class="image-overlay"></div>
              <div class="text-wrap">
                <h4>Sky Tour</h4>
                <div class="description">
                  <span class="tour-desc">play activities</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
