<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- start counter section -->
    <section class="cust-mg">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
          <!-- start counter item-->
          <div
            class="col text-center md-margin-30px-bottom xs-margin-15px-bottom"
          >
            <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
              <div
                class="counter-box bg-white d-flex justify-content-center flex-column h-100"
              >
                <i
                  class="fa fa-heart icon-medium text-medium-gray margin-15px-bottom"
                ></i>
                <h6
                  class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer"
                  data-to="4650"
                  data-speed="2000"
                >
                  4650
                </h6>
                <span>Happy Clients</span>
              </div>
            </div>
          </div>
          <!-- end counter item-->
          <!-- start counter item-->
          <div
            class="col text-center md-margin-30px-bottom xs-margin-15px-bottom"
          >
            <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
              <div
                class="counter-box bg-white d-flex justify-content-center flex-column h-100"
              >
                <i
                  class="fa fa-briefcase icon-medium text-medium-gray margin-15px-bottom"
                ></i>
                <h6
                  class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer"
                  data-to="3790"
                  data-speed="2000"
                >
                  3790
                </h6>
                <span>Tours</span>
              </div>
            </div>
          </div>
          <!-- end counter item-->
          <!-- start counter item-->
          <div class="col text-center xs-margin-15px-bottom">
            <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
              <div
                class="counter-box bg-white d-flex justify-content-center flex-column h-100"
              >
                <i
                  class="fa fa-plane icon-medium text-medium-gray margin-15px-bottom"
                ></i>
                <h6
                  class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer"
                  data-to="5580"
                  data-speed="2000"
                >
                  5580
                </h6>
                <span>International Tour</span>
              </div>
            </div>
          </div>
          <!-- end counter item-->
          <!-- start counter item-->
          <div class="col text-center">
            <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
              <div
                class="counter-box bg-white d-flex justify-content-center flex-column h-100"
              >
                <i
                  class="fa fa-face-smile icon-medium text-medium-gray margin-15px-bottom"
                ></i>
                <h6
                  class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer"
                  data-to="8580"
                  data-speed="2000"
                >
                  8580
                </h6>
                <span>Happy Customer</span>
              </div>
            </div>
          </div>
          <!-- end counter item-->
        </div>
      </div>
    </section>
    <!-- end counter section -->
  </body>
</html>
