<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Introduction Tour Section Start -->
    <section class="introduction-tour-section">
      <div class="container">
        <div class="introduction-tour-content">
          <div class="row">
            <div class="col col-12 col-md-12 col-lg-12 col-xl-3">
              <div class="introduction-tour-title-content">
                <h2 class="introduction-tour-subtitle">Get Some</h2>
                <h2 class="introduction-tour-title mb-0">
                  Special Tour Offers
                </h2>
                <a href="#" class="btn introduction-tour-btn">View More</a>
              </div>
            </div>

            <div class="col col-12 col-md-12 col-lg-12 col-xl-9">
              <div class="introduction-tour-slider">
                <div class="introduction-tour-item">
                  <div class="introduction-tour-img">
                    <img src="images/austerlia.jpg" alt="" class="img-fluid" />
                    <div class="introduction-tour-offer">
                      <span class="introduction-tour-price"
                        >$100 <del>$120</del></span
                      >
                    </div>
                  </div>
                  <div class="introduction-tour-body text-center">
                    <h5 class="introduction-tour-body-title">Australia Tour</h5>
                    <div class="introduction-tour-rivew">
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-calendar"></i> 18 Nov</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-clock"></i> 5 days</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none introduction-rivew-star"
                        ><i class="fa-regular fa-star"></i> 4.8</a
                      >
                    </div>
                  </div>
                </div>
                <div class="introduction-tour-item">
                  <div class="introduction-tour-img">
                    <img src="images/chicago.jpg" alt="" class="img-fluid" />
                    <div class="introduction-tour-offer">
                      <span class="introduction-tour-price"
                        >$120 <del>$150</del></span
                      >
                    </div>
                  </div>
                  <div class="introduction-tour-body text-center">
                    <h5 class="introduction-tour-body-title">Chicago Tour</h5>
                    <div class="introduction-tour-rivew">
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-calendar"></i> 08 Oct</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-clock"></i> 4 days</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none introduction-rivew-star"
                        ><i class="fa-regular fa-star"></i> 4.7</a
                      >
                    </div>
                  </div>
                </div>
                <div class="introduction-tour-item">
                  <div class="introduction-tour-img">
                    <img src="images/germany.jpg" alt="" class="img-fluid" />
                    <div class="introduction-tour-offer">
                      <span class="introduction-tour-price"
                        >$160 <del>$180</del></span
                      >
                    </div>
                  </div>
                  <div class="introduction-tour-body text-center">
                    <h5 class="introduction-tour-body-title">Germany Tour</h5>
                    <div class="introduction-tour-rivew">
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-calendar"></i> 18 Nov</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-clock"></i> 8 days</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none introduction-rivew-star"
                        ><i class="fa-regular fa-star"></i> 4.8</a
                      >
                    </div>
                  </div>
                </div>
                <div class="introduction-tour-item">
                  <div class="introduction-tour-img">
                    <img src="images/india.jpg" alt="" class="img-fluid" />
                    <div class="introduction-tour-offer">
                      <span class="introduction-tour-price"
                        >$50 <del>$90</del></span
                      >
                    </div>
                  </div>
                  <div class="introduction-tour-body text-center">
                    <h5 class="introduction-tour-body-title">India Tour</h5>
                    <div class="introduction-tour-rivew">
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-calendar"></i> 26 Oct</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-clock"></i> 10 days</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none introduction-rivew-star"
                        ><i class="fa-regular fa-star"></i>5.0</a
                      >
                    </div>
                  </div>
                </div>
                <div class="introduction-tour-item">
                  <div class="introduction-tour-img">
                    <img src="images/japan.jpg" alt="" class="img-fluid" />
                    <div class="introduction-tour-offer">
                      <span class="introduction-tour-price"
                        >$80 <del>$200</del></span
                      >
                    </div>
                  </div>
                  <div class="introduction-tour-body text-center">
                    <h5 class="introduction-tour-body-title">Japan Tour</h5>
                    <div class="introduction-tour-rivew">
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-calendar"></i> 18 Oct</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-clock"></i> 18 days</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none introduction-rivew-star"
                        ><i class="fa-regular fa-star"></i>4.8</a
                      >
                    </div>
                  </div>
                </div>
                <div class="introduction-tour-item">
                  <div class="introduction-tour-img">
                    <img src="images/london.jpg" alt="" class="img-fluid" />
                    <div class="introduction-tour-offer">
                      <span class="introduction-tour-price"
                        >$120 <del>$150</del></span
                      >
                    </div>
                  </div>
                  <div class="introduction-tour-body text-center">
                    <h5 class="introduction-tour-body-title">London Tour</h5>
                    <div class="introduction-tour-rivew">
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-calendar"></i> 08 Oct</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none border-end introduction-tour-ruting"
                        ><i class="fa-regular fa-clock"></i> 7 days</a
                      >
                      <a
                        href="#"
                        class="text-decoration-none introduction-rivew-star"
                        ><i class="fa-regular fa-star"></i> 4.5</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Intriduction Tour Section End -->
  </body>
</html>
