<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
  </head>

  <body>
    <!-- What Do Section Start -->
    <section class="what-do-section">
      <div class="container">
        <div class="what-do-content">
          <h2 class="what-do-title text-center">WHAT WE DO</h2>
          <p class="what-do-discription text-center">
            Experience the world with us and create memories that will last a
            lifetime.
          </p>
          <div class="what-do-box-list">
            <div class="row">
              <div class="col col-12 col-md-4 col-lg-4 col-xl-2">
                <div class="what-do-box-item">
                  <div class="what-do-img">
                    <img src="images/hotel.png" alt="" class="img-fluid" />
                    <div class="what-do-item-title">
                      <h5>Hotels</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-md-4 col-lg-4 col-xl-2">
                <div class="what-do-box-item">
                  <div class="what-do-img">
                    <img src="images/plane.png" alt="" class="img-fluid" />
                    <div class="what-do-item-title">
                      <h5>Airline</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-md-4 col-lg-4 col-xl-2">
                <div class="what-do-box-item">
                  <div class="what-do-img">
                    <img src="images/vehicle.png" alt="" class="img-fluid" />
                    <div class="what-do-item-title">
                      <h5>Transport</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-md-4 col-lg-4 col-xl-2">
                <div class="what-do-box-item">
                  <div class="what-do-img">
                    <img src="images/train.png" alt="" class="img-fluid" />
                    <div class="what-do-item-title">
                      <h5>Train</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-md-4 col-lg-4 col-xl-2">
                <div class="what-do-box-item">
                  <div class="what-do-img">
                    <img src="images/restaurant.png" alt="" class="img-fluid" />
                    <div class="what-do-item-title">
                      <h5>Restaurant</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-md-4 col-lg-4 col-xl-2">
                <div class="what-do-box-item">
                  <div class="what-do-img">
                    <img src="images/boat.png" alt="" class="img-fluid" />
                    <div class="what-do-item-title">
                      <h5>Ferry</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- What Do Section End -->
  </body>
</html>
