<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />

    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <!-- Theme section Start -->
    <section class="theme-section">
      <div class="container">
        <div class="theme-content">
          <div class="row align-items-center">
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div
                class="theme-img"
                data-aos="fade-right"
                data-aos-duration="2000"
              >
                <img
                  src="images/theme.jpg"
                  loading="lazy"
                  alt=""
                  class="img-fluid w-100"
                />
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div
                class="theme-details"
                data-aos="fade-left"
                data-aos-duration="2000"
              >
                <h6 class="theme-subtitle">Wide range of tour packages</h6>
                <h2 class="theme-title">Secure, advantures, pocket friendly</h2>
                <p class="theme-discription">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since. Lorem Ipsum has been the
                  industry's standard dummy text ever since. Lorem Ipsum is
                  printing and typesetting simply dummy text.
                </p>
                <a href="#" class="btn theme-btn"
                  ><i class="fa-solid fa-circle-play"></i> About Company</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Theme section End -->
  </body>
</html>
