<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="team-sec">
      <div class="left-overlay"></div>
      <div class="container">
        <div class="row inner-team-sec cust-pad">
          <div class="col-12 col-lg-4 text-center">
            <div class="team-detail">
              <h4 class="heading">WE HAVE AMAZING TEAM</h4>
              <p class="text">
                We are here to help you solve your queries give best quotation
                for your tour
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="team-area">
              <div class="row no-gutters team-carousel owl-carousel">
                <div class="item text-center">
                  <div class="team-box">
                    <div class="img-holder position-relative">
                      <img src="images/team1.jpg" loading="lazy" />
                      <div
                        class="overlay d-flex justify-content-center align-items-center"
                      >
                        <!--Team Social-->
                        <ul class="team-social">
                          <li>
                            <a class="facebook-text-hvr" href=""
                              ><i
                                class="fa-brands fa-facebook"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a class="twitter-text-hvr" href=""
                              ><i
                                class="fa-brands fa-twitter"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a class="instagram-text-hvr" href=""
                              ><i
                                class="fa-brands fa-instagram"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a class="pinterest-text-hvr" href=""
                              ><i
                                class="fa-brands fa-pinterest-p"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="team-info">
                      <h4 class="team-name">Eden Wooderburg</h4>
                      <p class="team-designation">Tour Manager</p>
                    </div>
                  </div>
                </div>

                <div class="item text-center">
                  <div class="team-box">
                    <div class="img-holder position-relative">
                      <img src="images/team2.jpg" loading="lazy" />
                      <div
                        class="overlay d-flex justify-content-center align-items-center"
                      >
                        <!--Team Social-->
                        <ul class="team-social">
                          <li>
                            <a class="facebook-text-hvr" href=""
                              ><i
                                class="fa-brands fa-facebook"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a class="twitter-text-hvr" href=""
                              ><i
                                class="fa-brands fa-twitter"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a class="instagram-text-hvr" href=""
                              ><i
                                class="fa-brands fa-instagram"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a class="pinterest-text-hvr" href=""
                              ><i
                                class="fa-brands fa-pinterest"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="team-info">
                      <h4 class="team-name">Angelo Walking</h4>
                      <p class="team-designation">Tour Guide</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
