<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="choice">
      <div class="container">
        <div class="row row-lg-eq-height">
          <!-- Choice Image -->
          <div
            class="col-lg-6 choice_col magic_fade_in"
            style="visibility: inherit; opacity: 1"
          >
            <div class="choice_image">
              <img src="images/choice.png" alt="" />
            </div>
          </div>

          <!-- Choice Content -->
          <div
            class="col-lg-6 choice_col magic_fade_in"
            style="visibility: inherit; opacity: 1"
          >
            <div class="choice_content">
              <div
                class="section_title magic_fade_in"
                style="visibility: inherit; opacity: 1"
              >
                <h2>Why Choose us?</h2>
              </div>
              <div class="choice_text">
                <p>
                  Wide range of travel options: Offer a diverse range of travel
                  options such as flights, hotels, tours, and activities to meet
                  the needs of different travelers. Competitive prices:
                  Emphasize the website's ability to offer competitive prices,
                  thanks to its partnerships and bulk buying power. Convenient
                  booking process: Highlight the website's user-friendly
                  interface, secure booking process, and 24/7 customer support.
                </p>
              </div>
              <div class="choice_list">
                <ul
                  class="d-flex flex-row align-items-start justify-content-between"
                >
                  <li
                    class="d-flex flex-column align-items-center justify-content-center magic_fade_in"
                    style="visibility: inherit; opacity: 1"
                  >
                    <div class="choice_icon">
                      <img src="images/air-travel.svg" alt="plane" />
                    </div>
                    <div class="choice_title">Marketing</div>
                  </li>
                  <li
                    class="d-flex flex-column align-items-center justify-content-center magic_fade_in"
                    style="visibility: inherit; opacity: 1"
                  >
                    <div class="choice_icon">
                      <img
                        src="images/travel-backpack.svg"
                        alt="travel-backpack"
                      />
                    </div>
                    <div class="choice_title">Stats</div>
                  </li>
                  <li
                    class="d-flex flex-column align-items-center justify-content-center magic_fade_in"
                    style="visibility: inherit; opacity: 1"
                  >
                    <div class="choice_icon">
                      <img src="images/purzen-globe.svg" alt="globe" />
                    </div>
                    <div class="choice_title">Best Packages</div>
                  </li>
                  <li
                    class="d-flex flex-column align-items-center justify-content-center magic_fade_in"
                    style="visibility: inherit; opacity: 1"
                  >
                    <div class="choice_icon">
                      <img src="images/call-service.svg" alt="call-service" />
                    </div>
                    <div class="choice_title">Support</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
