<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/select2.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/smooth-scrollbar.js"></script>
    <script src="../../common_assets/js/select2.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Counter Section Start -->
    <section class="it-counter-v2-section">
      <div class="container">
        <div class="it-counter-v2-content">
          <div class="row g-0">
            <div class="col col-12 col-md-6 col-lg-3">
              <div class="it-counter-v2-card">
                <div class="it-counter-v2-icon it-bg-primary">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <label class="it-counter-v2-label">Famous Places</label>
                <h3 class="it-counter-v2-number" data-count="17846">40</h3>
              </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-3">
              <div class="it-counter-v2-card">
                <div class="it-counter-v2-icon it-bg-danger">
                  <i class="fa-solid fa-signs-post"></i>
                </div>
                <label class="it-counter-v2-label">Famous Places</label>
                <h3 class="it-counter-v2-number" data-count="5463">318</h3>
              </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-3">
              <div class="it-counter-v2-card">
                <div class="it-counter-v2-icon it-bg-success">
                  <i class="fa-solid fa-user-group"></i>
                </div>
                <label class="it-counter-v2-label"> Our Clients</label>
                <h3 class="it-counter-v2-number" data-count="7569">1200</h3>
              </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-3">
              <div class="it-counter-v2-card">
                <div class="it-counter-v2-icon it-bg-info">
                  <i class="fa-solid fa-map"></i>
                </div>
                <label class="it-counter-v2-label">Total Locations</label>
                <h3 class="it-counter-v2-number" data-count="7253">700</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Section End -->
  </body>
</html>
