<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
  </head>

  <body>
    <section
      id="parallax1"
      class="section"
      data-stellar-background-ratio="0.5"
      style="background-position: 0% -60.0391px"
    >
      <div class="container">
        <div class="row appear stats">
          <div class="col-md-3">
            <div class="counter-box align-center color-white txt-shadow">
              <div class="icon">
                <i class="fa fa-face-smile fa-5x"></i>
              </div>
              <strong
                id="counter-coffee"
                class="timer number count-number"
                data-to="8000"
                data-speed="1500"
                >0</strong
              ><br />
              <span class="text">Happy Customers</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counter-box align-center color-white txt-shadow">
              <div class="icon">
                <i class="fa fa-route fa-5x"></i>
              </div>
              <strong
                id="counter-music"
                class="timer number count-number"
                data-to="700"
                data-speed="1500"
                >0</strong
              ><br />
              <span class="text">Places</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counter-box align-center color-white txt-shadow">
              <div class="icon">
                <i class="fa fa-handshake fa-5x"></i>
              </div>
              <strong
                id="counter-clock"
                class="timer number count-number"
                data-to="300"
                data-speed="1500"
                >0</strong
              ><br />
              <span class="text">Our Clients</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counter-box align-center color-white txt-shadow">
              <div class="icon">
                <i class="fa fa-heart fa-5x"></i>
              </div>
              <strong
                id="counter-heart"
                class="timer number count-number"
                data-to="10"
                data-speed="1500"
                >0</strong
              ><br />
              <span class="text">Years in Service</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
