<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="container-xxl py-6">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6">
            <div class="row img-twice position-relative h-100">
              <div class="col-6">
                <img
                  class="img-fluid rounded"
                  src="images/about-1.jpg"
                  alt=""
                />
              </div>
              <div class="col-6 align-self-end">
                <img
                  class="img-fluid rounded"
                  src="images/about-2.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h-100 mob">
              <p class="text-primary text-uppercase fs-20 mb-2">
                Why Choose Us ?
              </p>
              <h2 class="display-6 mb-4">World Best travel Agency Company</h2>
              <p>
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                sed stet lorem sit clita duo justo magna dolore erat amet
              </p>
              <p>
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                sed stet lorem sit clita duo justo magna dolore erat amet
              </p>
              <div class="row g-2 mb-4">
                <div class="col-sm-6">
                  <i class="fa fa-check text-primary me-2"></i>Quality Travel
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check text-primary me-2"></i>Custom Tour
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check text-primary me-2"></i>Pocket Friendly
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check text-primary me-2"></i>Group Tour
                </div>
              </div>
              <a class="btn btn-primary rounded-pill py-3 px-5" href=""
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
