<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- Summer Section Start -->
    <section class="summer-section">
      <div class="container">
        <div class="summer-content">
          <div class="row g-0">
            <div class="col col-12 col-md-12 col-lg-6 col-xl-6">
              <div class="summer-offer">
                <h2 class="summer-title">
                  SUMMER SPECIAL <br class="d-none d-md-block" />
                  UPTO 25% OFF
                </h2>
                <h5 class="summer-discription">
                  SPEND THE BEST VACTION WITH US
                  <br class="d-none d-md-block" />
                  The nights of Thailand
                </h5>
                <a href="#" class="btn summer-offer-btn">View Details</a>
              </div>
            </div>
            <div
              class="col col-12 col-md-12 col-lg-6 col-xl-6 d-none d-lg-block"
            >
              <div class="summer-img h-100">
                <img src="images/discount.jpg" alt="" class="img-fluid h-100" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Summer Section End -->
  </body>
</html>
