<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="adv-sec">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="download-app">
              <h2>Exclusive Deals and Discounts</h2>
              <a href="#" class="btn btn-transparent"
                ><i class="fa fa-phone"></i> Contact Us</a
              >
              <a href="#" class="btn btn-transparent"
                ><i class="fa fa-info-circle"></i> Know More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
