<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../../common_assets/js/slick.min.js"></script>
    <script src="js/custom.js"></script>
  </head>

  <body>
    <!-- About Gallery Section Start -->
    <section class="us-gallery-section">
      <div class="container">
        <div class="us-gallery-content">
          <div class="row">
            <div class="col col-12 col-lg-4 col-xl-4 d-none d-lg-block">
              <div class="us-gallery-men-img">
                <img
                  src="images/gallery_men.png"
                  loading="lazy"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-8 col-xl-8">
              <div class="us-gallery-details">
                <h2 class="us-gallery-title">About Us</h2>
                <p class="us-gallery-discription">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered by injected humour,
                  or randomised words which don't look even slightly believable.
                  If you are going to use a passage of Lorem Ipsum It is a long
                  established fact that a reader will be distracted by the
                  readable of a page when looking at its layout. as opposed to
                  using 'Content here, content here', making it look like
                  readable English.
                  <a href="#" class="btn p-0">View More</a>
                </p>
                <div class="us-gallery-slider">
                  <h5 class="us-gallery-slider-title">Our Gallery</h5>
                  <div class="us-gallery-list">
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_1.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 01
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_2.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 02
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_3.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 03
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_4.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 04
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_1.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 01
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_2.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 02
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_3.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 03
                      </h6>
                    </div>
                    <div class="us-gallery-item">
                      <div class="us-gallery-img">
                        <img
                          src="images/gallery_4.png"
                          loading="lazy"
                          alt=""
                          class="img-fluid w-100"
                        />
                      </div>
                      <h6 class="us-gallery-item-title border border-top-0">
                        Place 04
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Gallery Section End -->
  </body>
</html>
