<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link Css Files -->
    <link rel="stylesheet" href="../../common_assets/css/common-style.css" />
    <link rel="stylesheet" href="../../common_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../common_assets/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link js Files -->
    <script src="../../common_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../common_assets/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <section class="call-to-action">
      <div class="img-overlay"></div>
      <div class="container base-cont">
        <div class="heading-primary text-center">
          <h2>Explore World With Us</h2>
        </div>
        <div class="sub-heading text-center">
          <p>
            Travel smooth and stress-free. That’s how easy we make it because
            that’s how your holiday should be.
          </p>
        </div>
        <div class="btn">
          <a class="wid-btn" href="#">Learn more</a>
        </div>
      </div>
    </section>
  </body>
</html>
